{% if session.username %}
<p>Tervetuloa harrastusseurasovellukseen, {{ session.username }}</p>
<hr>
Rekisteröityjä ryhmiä tällä hetkellä: {{ count }}
<hr>
{% for g in groups %}
<i>Ryhmän nimi:</i> {{ group[0] }}
<p>
<i>Perustaja:</i> {{ group[1] }}
<p>
<i>Aika:</i> {{ group[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/new">Lähetä viesti</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
